html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
  }
  
  #container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  
  #score_help {
    text-align: center;
    font-size: 25px;
    background-color: #eaeaea;
  }
  
  #branch {
    position: absolute;
    height: 2%;
    width: 100%;
    background-color: #7b2e00;
    top: 23%;
  }
  
  .box {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 10%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
  }
  
  #box1 {
    left: 20%;
  }
  
  #box2 {
    left:45%;
  }
  
  #box3 {
    left: 70%;
  }
  
  .square {
    position: absolute;
    top: 18%;
    height: 5vw;
    width: 5vw;
    background-color: red;
    border-radius: 50%;
    z-index: 99;
  }
  
  #square1 {
    left: calc(20% + 8%/2 - 2%/2);
  }
  
  #square2 {
    left: calc(45% + 8%/2 - 2%/2);
  }
  
  #square3 {
    left: calc(70% + 8%/2 - 2%/2);
  }
  
  .bullseye {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7vw;
    background-color: darkred;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
  }
  
  #bullseye1 {
    left: calc(20% + 8%/2 - 2%/2);
  }
  
  #bullseye2 {
    left: calc(45% + 8%/2 - 2%/2);
  }
  
  #bullseye3 {
    left: calc(70% + 8%/2 - 2%/2);
  }
  
  #floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #292929;
    bottom: 0;
    z-index: 10;
  }
  
  #basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 10px;
    background: url("basket.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
  }
  
  #score_1 {
    position: absolute;
    color: #4DD306;
    font-size: 30px;
    top: 45%;
    left: 30%;
  }
  
  #restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: lightblue;
    color: black;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
  }