html,
  body, div, object {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #game {
    width: auto;
    height: 100%;
    margin: 0;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  #acclPermissionBtn {
      display: grid;
  }