html,
  body, div, object {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #game {
    width: auto;
    height: 100%;
    margin: 0;
  }

  .container {
    height: 200px;
    position: relative;
    border: 3px solid blue;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #acclPermissionBtn {
      display: grid;
  }